.page-account {
    width: 100%;
    height: 700px;
    /*margin-top: 150px;*/
    margin-bottom: 140px;
}
.page-account #form-account #form-bg {
    position: absolute;
    z-index: 1;
    margin-top: 80px;
    width: 100%;
}

.page-account #form-account #form-bg img {
    margin: 0;
    padding: 0;
}
.page-account #form-account .container {
    width: 550px;
    height: 700px;
    background-color: #f5f1f1;
    /*margin: 100px auto;*/
    border-radius: 5px;
    padding: 45px 45px 25px;
    text-align: center;
    position: absolute;
    z-index: 2;
    margin-top: 100px;
    margin-left: 50%;
    transform: translateX(-50%);

}

.page-account #form-account .container  h3 {
    font-weight: bolder;
    font-size: 30px;
    text-align: center;
    color: #111111;
    margin-bottom: 20px;
}
.page-account #form-account .container .form-container {
    height: 750px;
    margin: auto;
    width: 400px;
}

.page-account #form-account .container .form-container .input-group {
    width: 360px;
    margin: auto;
}

.page-account #form-account .container .form-container  .form-group {
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin-bottom: 20px;
    width: 350px;
}

.page-account #form-account .container .form-container  .form-group span {
    padding: 10px;
    /* border-right: 1px solid #e5e5e5; */
    color: #b9b9b9;
}

.page-account #form-account .container .form-container  .form-group .input-group {
    width: 320px;
}

.page-account #form-account .container .form-container  .form-group i {
    padding: 16px;
    border-right: 1px solid #e5e5e5;
}

.page-account #form-account .container .form-container  .form-group input {
    width: 280px;
    height: 50px;
    border: none;
    background-color: #f9f9f9;
}
.page-account #form-account .container .form-container .upload{
    margin-bottom: 20px;
}
.btn-cancel{
    background-color: rgb(255 197 197);
    color: rgb(190, 40, 40);
    /* width: 100px; */
    font-weight: 600;
    letter-spacing: 1px;
}
.btn-save{
    background-color: rgb(166 236 171);
    color: rgb(1 123 10);
    /* width: 100px; */
    font-weight: 600;
    letter-spacing: 1px;
}
.Choicefile {
    display: block;
    background: #14142B;
    border: 1px solid #fff;
    color: #fff;
    width: 150px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    padding: 5px 0px;
    border-radius: 5px;
    font-weight: 500;
    align-items: center;
    justify-content: center;
}
.Choicefile:hover {
    text-decoration: none;
    color: white;
}
.bx {
    font-family: boxicons!important;
    font-weight: 400;
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    text-rendering: auto;
    display: inline-block;
    text-transform: none;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*.bx {*/
/*    !* margin: 0; *!*/
/*    !* font-family: inherit; *!*/
/*    !* font-size: inherit; *!*/
/*    !* line-height: inherit; *!*/
/*    font-size: 20px;*/
/*}*/
#uploadfile, .removeimg {
    display: none;
}